.ending{
    background: transparent linear-gradient(251deg, #3BCBF9 0%, #1E667D 100%) 0% 0% no-repeat padding-box;
}
.footer{
    background: #F8F8F8 0% 0% no-repeat padding-box;
}
.footer{
    color: #707070;;
}
.ending{
    color: white;
}